<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}"/>
         <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
{% if request.endpoint in ("main.index", "main.about", "main.contact") %}
  <body class="general-bg">
{% elif request.endpoint in ("auth.register", "auth.login", "main.settings", "auth.recover_password")%}
  <body class="settings-bg">
{% else %}
  <body>
{% endif %}
    <div class="grid">
      <header>
          {% block header%}
              {% from "partials/_navbar.html" import render_navbar %}
              {{ render_navbar(current_user, form) }}
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="flash-{{category}}" id="alert">
                        <span>{{ message }}</span>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
          <script>$('#alert').delay(3000).fadeOut(400)</script>
          {% endblock %}
      </header>
      {% block content %}
        {% block page_content %}

        {% endblock %}
      {% endblock %}
      <footer>
       {% block footer %}
        Made with <span style="font-size:200%;color:red;">&hearts;</span> 
        by <a href="http://www.janruettinger.com/">Jan Ruettinger</a>
        {% endblock %}
      </footer>
    </div>
  {% block script %}
  {% endblock %}
  </body>
</html>

