{% extends "base.html" %}
{% block title %} Confirm {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Set Password</h1>
</div>
<div class="col-md-4">

{% from "_formhelper.html" import render_field, render_field_with_value %}
    <form action="/auth/confirm" method="post">

      <dl>
        {{ render_field_with_value(email,token) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password2) }}
        {{ render_field(form.remember_me) }}
        {{ render_field(form.submit) }}
      </dl>
        {{ form.csrf_token }}
    </form>
</div>
{% endblock %}
