{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block page_content %}
    <div class="page-header">Login</div>
        <hr>

<div class ="login-form">
    <form action="login" method="post">
    {% from "partials/_formhelper.html" import render_field_placeholder %}
      <dl>
        {{ render_field_placeholder(form.email, "E-Mail") }}
        {{ render_field_placeholder(form.password, "Password", type="password")}}
      </dl>
        {{ form.csrf_token }}
        <input type=submit value=Login>
    </form>
    <br>
    <p class="auth-text">
        New user?
        <a href="{{ url_for('auth.register') }}">
          Click here to register
        </a>
        <br>
        Forgot your password?
            <a href="{{ url_for('auth.recover') }}">
          Click here to recover your password
        </a>
    </p>
</div>

</div>
{% endblock %}
